.section {
  padding: 1.5rem;
  color: #ccc;
}

.imageContainer {
  background: black;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  height: 0;
  border-radius: 0.3rem;
}

.image {
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}

.videoFrameContainer {
  background: black;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  height: 0;
  border-radius: 0.3rem;
}

.videoFrame {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}

.title {
  color: white;
  margin: 1rem 0;
  text-align: justify;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.chapterTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0 1rem 0;
}

.chapterTitleText {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: white;

  @media (max-width: 768px) {
    font-size: 1.3rem;
  }
}

.chapterLine {
  flex-grow: 1;
  border: 1.5px solid gray;
  border-radius: 0.3rem;
  min-width: 1rem;
  background: gray;
}

.paragraph {
  margin: 0.6rem 0;
  text-align: justify;
}

.linkList {
  padding-left: 2rem;
}

.linkListItem {
  list-style-type: decimal;
  line-height: 1.8rem;
}
