.pagesProjectAll {
  &__section {
    background: #eeeeee;
    color: #222222;
    min-height: 100vh;
  }

  &__projectButtons {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    padding: 0 1.5rem;
    margin: 1rem auto 0 auto;
  }

  &__projectButton {
    font-size: 0.8rem;
    display: inline-block;
    color: gray;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    border: 1px solid;
    border-radius: 2rem;
    text-align: center;
  }

  &__projectButtonSelected {
    color: white;
    background: gray;
    border-color: gray;
  }
}
