ul.social
	li
		a(href='https://www.facebook.com/raika.toriyama')
			i.fab.fa-facebook-f.fa-2x
	li
		a(href='https://twitter.com/pvcresin/')
			i.fab.fa-twitter.fa-2x
	li
		a(href='https://github.com/pvcresin/')
			i.fab.fa-github.fa-2x
	li
		a(href='https://www.instagram.com/pvcresin/')
			i.fab.fa-instagram.fa-2x
	li
		a(href='http://pvcresin.hatenablog.com/').resources
			include ../../resources/hatena.svg
	li
		a(href='https://www.wantedly.com/users/18220619').resources
			include ../../resources/wantedly.svg
