.componentsLike {
  &__content {
    padding: 0.75rem;
  }

  &__like-box {
    padding: 0.75rem;
  }

  &__like {
    background: #414141;
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
  }

  &__category {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  &__line {
    border-radius: 1rem;
    margin: 0.5rem 0;
    border: 1.5px solid;
    border-color: grey;
    background: gray;
  }

  &__item {
    line-height: 2rem;
  }

  &__icon {
    font-size: 1.4rem;
    width: 2rem;
    display: inline-flex;
    justify-content: center;
  }

  &__text {
    font-size: 1.2rem;
  }
}
