.root {
  word-break: break-all;
  display: inline-flex;
  align-items: center;
}

.text {
  composes: root;
  color: lightgray;
}

.link {
  composes: text;
  color: #4e9adb;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    outline-color: cyan;
    outline-offset: 0;
    outline-style: solid;
  }
}

.linkIcon {
  display: inline-flex;
  height: 1.5rem;
  align-items: center;
  margin-left: 0.3rem;
}
