.root {
  padding: 1rem;
}

.row {
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
}

.row + .row {
  border-top: 0;
}

.item {
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
  align-items: baseline;
}

.date {
  color: #bdbdbd;
  display: inline-block;
  font-size: 0.9rem;
  white-space: nowrap;
  font-family: 'Noto Sans JP', monospace;
}

.title {
  font-size: 1rem;
}

.sub {
  color: #bdbdbd;
  margin-top: 0.25rem;
  font-size: 0.9rem;
}
