.components-more {
  padding: 0 1.5rem 1.5rem 1.5rem;
  display: flex;
  justify-content: center;

  &__more-button {
    padding: 0.5rem;
    background: grey;
    color: white;
    border-radius: 3rem;
    min-width: 10rem;
    text-align: center;
    display: block;

    &:hover {
      background: #a3a3a3;
    }
  }
}
