.root {
  padding: 0 1.5rem 1.5rem 1.5rem;
  display: flex;
  justify-content: center;
}

.moreButton {
  padding: 0.5rem;
  background: #686868;
  color: white;
  border-radius: 3rem;
  min-width: 10rem;
  text-align: center;
  display: block;
  cursor: pointer;

  &:hover {
    background: #a3a3a3;
  }

  &:focus-visible {
    outline-color: cyan;
    outline-offset: 0;
    outline-style: solid;
  }
}
