.root {
  color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: #1a181970;
  backdrop-filter: blur(1rem);
  left: 0;
  top: 0;
}

.list {
  display: flex;
}

.item {
  padding: 0 0.5rem;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.link {
  display: inline-flex;
  width: 100%;
  border-bottom: 3px solid transparent;
}

.linkActive {
  composes: link;
  border-bottom: 3px solid white;
}
