.root {
  color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: #1a181970;
  backdrop-filter: blur(1rem);
  left: 0;
  top: 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.logoText {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.item {
  padding: 0 1rem;
  cursor: pointer;
  height: var(--header-height);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: brightness(0.8);
  transition: filter 0.3s;

  &:hover {
    filter: brightness(1);
    transition: filter 0.3s;
  }
}

.itemLogo {
  composes: item;
  flex-direction: row;
}

.itemLogoActive {
  composes: itemLogo;
  filter: brightness(1);
}

.itemActive {
  composes: item;
  filter: brightness(1);
}

.linkText {
  font-size: 0.8rem;
}

@media screen and (min-width: 48em) {
  .item {
    flex-direction: row;
  }

  .linkText {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
}
