.root {
  color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
  background: #1a181970;
  backdrop-filter: blur(1rem);
  left: 0;
  top: 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.logoText {
  margin-left: 0.5rem;
}

.wideLinkList {
  display: none;
}

.item {
  padding: 0 1rem;
  cursor: pointer;
  height: var(--header-height);
  display: inline-flex;
  align-items: center;
  filter: brightness(0.8);
  transition: filter 0.3s;

  &:hover {
    filter: brightness(1);
    transition: filter 0.3s;
  }
}

.itemActive {
  composes: item;
  filter: brightness(1);
}

.linkText {
  margin-left: 0.5rem;
}

.menuContainer {
  position: relative;
}

.menuSummary {
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: var(--header-height);
  right: 0.5rem;
  background: #2b2b2b;
  border-radius: 0.5rem;
}

@media screen and (min-width: 48em) {
  .wideLinkList {
    display: inline-flex;
  }

  .menuContainer {
    display: none;
  }
}
