.root {
  padding: 0.75rem;
  text-align: left;
}

.item {
  padding: 0 0.75rem;
}

.item + .item {
  margin-top: 0.5rem;
}

.date {
  color: gray;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;
  font-weight: normal;
  white-space: nowrap;
  font-family: 'Noto Sans JP', monospace;
  text-align: left;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.link {
  font-size: 1rem;
  color: #4e9adb;
  word-break: break-all;
  padding: 0 0.3rem;

  &:hover {
    text-decoration: underline;
  }
}

.linkIcon {
  display: inline-flex;
  height: 1.5rem;
  align-items: center;
  margin-left: 0.3rem;
}

.at {
  white-space: pre;
  color: gray;
  padding: 0 0.3rem;
  margin-left: auto;
}

@media screen and (min-width: 48em) {
  .info {
    flex-wrap: nowrap;
  }
}
