.root {
  padding: 0.75rem;
  text-align: left;
}

.item {
  display: flex;
  padding: 0 0.75rem;
}

.item + .item {
  margin-top: 0.75rem;
}

.date {
  color: gray;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;
  font-weight: normal;
  white-space: nowrap;
  margin-right: 0.5rem;
  font-family: 'Noto Sans JP', monospace;
}

.link {
  font-size: 1rem;
  color: #4e9adb;
  word-break: break-all;

  &:hover {
    text-decoration: underline;
  }
}

.linkIcon {
  display: inline-flex;
  height: 1.5rem;
  align-items: center;
  margin-left: 0.3rem;
}

.siteName {
  display: inline-flex;
  white-space: pre;
  color: gray;
}
