.root {
  padding: 0.75rem;
  text-align: left;
}

.item {
  padding: 0 0.75rem;
}

.item + .item {
  margin-top: 0.5rem;
}

.date {
  color: gray;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;
  font-weight: normal;
  white-space: nowrap;
  font-family: 'Noto Sans JP', monospace;
  text-align: left;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 1rem;
  word-break: break-all;
  padding: 0 0.3rem;
  color: lightgray;
}

.link {
  font-size: 1rem;
  padding: 0 0.3rem;
}

.at {
  white-space: pre;
  color: gray;
  padding: 0 0.3rem;
  margin-left: auto;
}
