.root {
  padding: 0.5rem;
}

.row {
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  gap: 1rem;
}

.row + .row {
  margin-top: 1rem;
}

.badgeContainer {
  display: inline-block;
  // for CLS
  min-height: 36.8px;
}

.badge {
  height: 1.8rem;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 48em) {
  .row {
    grid-template-columns: 150px 1fr;
  }
}
