.componentsSkills {
  &__skill-container {
    padding: 0.75rem;
  }

  &__skill-box {
    padding: 0.75rem;
  }

  &__skill {
    margin-bottom: 1.2rem;
  }

  &__skill-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__name {
    font-size: 1.3em;
    margin-right: 0.5rem;
    font-weight: 300;
  }

  &__sub {
    font-size: 0.85rem;
    color: #bdbdbd;
  }

  &__bar {
    background: #4b4b4b;
    border-radius: 1rem;
  }

  &__level {
    height: 0.7rem;
    border-radius: 1rem;
    background: #eaeaea;
  }
}
