.iconList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.iconListItem {
  display: inline-block;
}

.link {
  color: gray;
  vertical-align: sub;
  display: inline-block;
  margin: 0 0.5rem;

  &:hover {
    color: white;
  }

  &:focus-visible {
    outline-color: cyan;
    outline-offset: 0;
    outline-style: solid;
  }
}
