@use '../styles/mixin.scss';

.root {
  background-color: #2b2b2b;
}

.contents {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  @include mixin.md {
    flex-direction: row;
  }
}

.aboutImage {
  text-align: center;
  padding: 1rem;
  margin: 0 auto;
  width: 33.3%;
}

.faceWrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #2b2b2b;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 100%;
}

.aboutTextContainer {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  word-break: break-all;
}

.aboutText {
  line-height: 2;
  white-space: pre-line;
  font-size: var(--font-size-xs);
}

.info {
  display: flex;
  margin-top: 0.5rem;
  font-size: var(--font-size-xs);
}

.infoIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-md);

  svg {
    height: 1.5rem;
  }
}

.right {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-left: 0.5rem;
  white-space: pre-wrap;
  word-break: break-all;
}
