@use '../styles/mixin.scss';

.content {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.likeBox {
  padding: 0.5rem;
  width: 100%;

  @include mixin.sm {
    width: 50%;
  }

  @include mixin.md {
    width: 33.3%;
  }
}

.like {
  background-color: #2b2b2b;
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
}

.category {
  font-size: var(--font-size-xs);
  margin-bottom: 0.5rem;
}

.item {
  font-size: var(--font-size-xs);
  list-style: disc;
  margin-left: 1rem;
}
