.root {
  padding: 1rem;
}

.row {
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
}

.row + .row {
  border-top: 0;
}

.item {
  padding: 0.5rem 0;
  align-items: baseline;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.25rem 1rem;
}

.dateSection {
  color: #ccc;
  display: inline-block;
  font-size: 0.8rem;
  white-space: pre-wrap;
  min-width: 150px;
}

.time {
  font-family: 'Noto Sans JP', monospace;
  background-color: #4b4b4b;
  padding: 0 0.3rem;
  border-radius: 0.3rem;
}

.title {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.sub {
  color: #ccc;
  font-size: 0.9rem;
}

@media screen and (min-width: 48em) {
  .item {
    grid-template-columns: 170px 1fr;
  }

  .dateSection {
    font-size: 0.9rem;
  }

  .time {
    background-color: unset;
    padding: 0;
  }
}
