@use '../styles/mixin';

.root {
  padding: 1rem;
  text-align: left;
  font-size: var(--font-size-xs);
}

.row {
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
}

.row + .row {
  border-top: 0;
}

.item {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.dateWrapper {
  width: 100%;

  @include mixin.lg {
    width: 12.5%;
  }
}

.date {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-family: 'Noto Sans JP', monospace;
  text-align: left;
  vertical-align: middle;
  font-size: var(--font-size-xs);
  color: #aaa;
  background-color: unset;
  padding: 0;
  border-radius: 0;
}

.info {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
}

.title {
  word-break: break-all;
  color: lightgray;
}

.link {
  display: inline-block;
}

.at {
  white-space: pre;
  color: #aaa;
  margin-left: auto;
  font-size: var(--font-size-xs);
  padding-left: 0.3rem;
}
