.root {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  margin: 0.75rem 0;
  gap: 0.5rem;
}

.tag {
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  border: 1px solid #aaa;
  font-size: var(--font-size-xs);
}
