@use '../styles/mixin';

$rootVerticalSpace: 4rem;
$lineWidth: 4px;

.root {
  padding: $rootVerticalSpace 1rem $rootVerticalSpace;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.line {
  position: absolute;
  top: calc(-1 * $rootVerticalSpace / 2);
  left: 0.5rem;
  display: inline-flex;
  width: $lineWidth;
  height: calc(100% + $rootVerticalSpace);
  margin: 0 auto;
  background-color: gray;
  border: 1.5px solid gray;
  border-radius: 1rem;

  &::after {
    $width: 8px;
    content: '';
    width: 10px;
    height: 30px;
    display: inline-flex;
    position: absolute;
    left: calc(-1 * $width);
    top: -14px;
    box-sizing: border-box;
    border: 10px solid transparent;
    border-style: solid;
    border-width: 0 8px 25px 8px;
    border-color: transparent transparent gray transparent;
  }

  @include mixin.md {
    left: calc(50% - $lineWidth / 2);
  }
}

.cardWrapper {
  width: calc(100% - 45px);
  margin: 1.1em 0 1.1em auto;

  > .card {
    &::before {
      position: absolute;
      top: 30px;
      content: '';
      display: block;
      width: 36px;
      background-color: gray;
      border: 2px solid gray;
      border-radius: 1rem;
    }
  }

  &:nth-child(even) {
    > .card {
      &::before {
        width: 25px;
        right: auto;
        left: -34px;
      }
    }
  }

  &:nth-child(odd) {
    > .card {
      &::before {
        width: 25px;
        right: auto;
        left: -34px;
      }
    }
  }

  @include mixin.md {
    width: calc(50% - 50px);

    > .card {
      &::before {
        width: 36px !important;
      }
    }

    &:nth-child(even) {
      margin: 0 0 3rem 0;

      > .card {
        &::before {
          left: auto;
          right: -52px;
        }
      }
    }

    &:nth-child(odd) {
      margin: 3rem 0 0 100px;

      > .card {
        &::before {
          right: auto;
          left: -52px;
        }
      }
    }
  }
}

.card {
  background-color: #2b2b2b;
  padding: 1rem;
  margin-bottom: 0;
  border-radius: 0.3rem;
  position: relative;
  white-space: pre-wrap;
}

.date {
  font-size: var(--font-size-xs);
}

.title {
  margin: 0.5rem 0;
  color: white;
  font-size: var(--font-size-xs);
}

.description {
  white-space: pre-wrap;
  font-size: var(--font-size-xs);
}
