body {
    background-color: #fafafa;
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
}

span {
    display: inline-block;
    width: 1.5em;
    
}

img {
    display: block;
    margin: 0.83em auto;
}