.pages-top {
  min-height: 100vh;

  &__section {
    &:nth-child(2n) {
      background: #2b2b2b;
      color: #efefef;
    }

    &:nth-child(2n + 1) {
      background: #eeeeee;
      color: #222222;
    }
  }
}
